@import "./base.css";
@import "./pattern.min.css";

body,
html {
  background-color: #f1f2f6;
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}

#app {
  width: 100vw;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
